body {
width: 80%;
margin:auto;
background-color: rgb(255, 255, 221);
background-image: url(kepek/fohatter.png);
background-size: cover;
}
header {
    background-color: rgb(255, 255, 255);
    text-transform: uppercase;
    border: 5px solid black;
    border-radius: 30px;
    text-align: center;
}
nav{
    display:grid;
    grid-template-columns: 1fr 1fr;

}

article{
    display:grid;
    grid-template-columns: 1fr 1fr;
}

img{
    width: 100%
}